.clear{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    width: 100vw
}

.clear_img{
    position: absolute;
    top: 36%
}
.clear_title{
    font-size: 18px;
    color: rgb(218, 37, 28);
    text-align: center;
    font-family: 'Adobe Heiti Std';
    font-weight: 600
}