/*引入遮罩层*/
/*遮罩*/
/*全局变量*/
/*公共类 & 函数*/
/*带下划线的标题*/
/*举报成功*/
/*机构介绍*/
/*用户资料*/
/*我的求助*/
/*公募机构选择*/
/*项目进度条*/
/*清除浮动*/
.row {
  margin-left: -15px;
  margin-right: -15px;
}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
/*个人详情*/
.user_box{
	height: 3.2rem; 
    background: linear-gradient(to right,#ff5e3e 0,#ff1679 100%);
	background-size: 100% 100%;
}

.user_box .user_info_top{
	background: rgba(0,0,0,.5);overflow: hidden;
	padding-left: .1rem;padding-right: .1rem;display: table;
	width: 6rem;height: 2rem;border-radius: 1rem;margin-left: auto;margin-right: auto; position: relative;
	top: .6rem;
}

.user_box .user_img{
    margin-top: .1rem;width: 1.8rem;height: 1.8rem;display: table-cell;vertical-align: middle;
}

.user_img .headimg{
	border-radius: 50%;width: 1.8rem;height: 1.8rem;vertical-align: middle;
}

.user_box .user_info{
	display: table-cell;vertical-align: middle;position: relative;color: #fff;padding-left: .2rem;
}

.user_info>.user_name{
	font-size: .32rem;margin-bottom: .1rem;font-weight: normal;color: #fff;
}

.user_info>.heart_level{
	font-size: .24rem;margin-top: .2rem;
}

/*企业用户*/

/*用户页面导航*/
.user_nav>.nav_item{
	height: 1.2rem;border-bottom: 1px solid #f5f5f5;line-height: 1.2rem;
	padding-left: .1rem;font-size: .3rem;
}

.nav_item>a{
	color: #333333;vertical-align: top;display: block;
}

.nav_item .nav_item_img{
	width: .4rem;vertical-align: middle;margin-right: .3rem;
}

/*成就css样式*/

/*成就的弹出层*/
/*没有获取的颜色*/
/*铜颜色*/
/*银颜色*/
/*金颜色*/

.user_m{
    font-size: .45rem !important;
    margin-bottom: 2px !important;
}

.aui-badge {
    display: inline-block;
    width: auto;
    text-align: center;
    min-width: 0.2rem;
    height: 0.29rem;
    line-height: 0.32rem;
    padding: 0 0.06rem;
    font-size: 0.21rem;
    color: #ffffff;
    background-color: #ff2600;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.15rem;
    left: 64%;
    z-index: 99;
}















