<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta charset="UTF-8">
    <title>支付成功</title>
    <link rel="stylesheet" href="//localhost/static/css/core.css">
    <link rel="stylesheet" href="//localhost/static/css/icon.css">
    <link rel="stylesheet" href="//localhost/static/css/home.css">
    <link rel="stylesheet" href="//localhost/assets/css/pay_success.css?v=1.0">
    <script src="//localhost/static/js/zepto/zepto.min.js"></script>
</head>
    <style>
        .aui-car-box{
            margin-top: 20%;
            margin-bottom: 1.2rem;
        }
    </style>
<body>
    <header class="aui-header-default aui-header-fixed ">
        <a href="//localhost/" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">支付成功</div>
            </div>
        </div>
        <a href="#" class="aui-header-item-icon" style="min-width:0">
            <!--			<i class="aui-icon aui-icon-member"></i>-->
        </a>
    </header>
    <section class="aui-car-content">
        <div class="aui-dri"></div>
        <div class="aui-car-box">
            <img src="//localhost/static/image/zhiFu-img.png" width="86%" class="align_con" alt="">
        </div>
        <div class="Ding_div">
            <h1 class="Ding_h1">订单支付成功</h1>
            <span class="Ding_span">你的商品已经全部购买完毕</span>
        </div>
        <div class="Fan_hui">
               
        </div>
    </section>  
</body>
<script src="//localhost/assets/js/com.js?v=1.0"></script>
<script src="//localhost/assets/js/pay_success.js?v=1.0"></script>
</html>

















